.search {
  background: $light-gray;
  padding: 30px 20px 20px 20px;
  border-bottom: 2px #ccc solid;
  margin-bottom: 30px;

  &-form {
    input, .input-group-label {
      border-color: $medium-light-gray;
    }
  }
}