<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell auto">
      <div class="reminder-section">
        <div class="reminder-card">
          <img class="reminder-card-image" src="http://placehold.it/65" alt="icon">
          <div class="reminder-card-content">
            <p class="stat">325</p>
            <p><small>Total Reminders</small></p>
          </div>
        </div>
        <div class="reminder-card">
          <div class="reminder-card-content">
            <p class="stat">325</p>
            <p><small>Total Reminders</small></p>
          </div>
        </div>
        <div class="reminder-card">
          <div class="reminder-card-content">
            <p class="stat">325</p>
            <p><small>Total Reminders</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="cell auto">
      <div class="reminder-section">
        <div class="reminder-card">
          <img class="reminder-card-image" src="http://placehold.it/65" alt="icon">
          <div class="reminder-card-content">
            <p class="stat">325</p>
            <p><small>Total Reminders</small></p>
          </div>
        </div>
        <div class="reminder-card">
          <div class="remind-card-content">
            <p class="stat">325</p>
            <p><small>Total Reminders</small></p>
          </div>
        </div>
        <div class="reminder-card">
          <div class="reminder-card-content">
            <p class="stat">325</p>
            <p><small>Total Reminders</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>