<div class="grid-container">
  <div class="grid-x grid-margin-x grid-margin-y">
    <div class="cell medium-12 large-shrink medium-order-2 large-order-1">
      <div class="card--product-thumbs">
        <img src="http://placehold.it/150" alt="Product Image" />
        <img src="http://placehold.it/150" alt="Product Image" />
        <img src="http://placehold.it/150" alt="Product Image" />
        <img src="http://placehold.it/150" alt="Product Image" />
      </div>
    </div>
    <div class="cell medium-12 large-auto medium-order-1 large-order-2">
      <img src="http://placehold.it/1200" alt="Product Image" />
    </div>
  </div>
</div>