<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell auto">
      <div class="comment-section">
        <h4>Comments</h4>
        <div class="comment-item">
          <img class="comment-avatar" src="http://placehold.it/60" alt="avatar" />
          <div class="comment-content">
            <input type="text">
          </div>
        </div>
        {{#repeat 5}}
        <div class="comment-item">
          <img class="comment-avatar" src="http://placehold.it/60" alt="avatar" />
          <div class="comment-content">
            <h6>Name <small>11/13/2017</small></h6>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum suscipit adipisci, ipsum officiis alias dolores maxime veritatis nisi, totam quaerat aut in sapiente nesciunt, quae cum sed blanditiis minima sit?</p>
          </div>
        </div>
        {{/repeat}}
        <!-- <div class="comment-item">
          <img src="http://placehold.it/60" alt="avatar" />
          <div class="comment-content">
              <h6>Name <small>11/13/2017</small></h6>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum suscipit adipisci, ipsum officiis alias dolores maxime veritatis nisi, totam quaerat aut in sapiente nesciunt, quae cum sed blanditiis minima sit?</p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>