<footer>
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell large-3">
        <p>BTHosting &copy; copyright 2017</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
      </div>
      <div class="cell large-3">
        <h5>Company</h5>
        <ul class="menu vertical">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Site Map</a></li>
        </ul>
      </div>
      <div class="cell large-3">
        <h5>Support</h5>
        <ul class="menu vertical">
          <li><a href="#">Knowledgebase</a></li>
          <li><a href="#">Support Forum</a></li>
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Ticket System</a></li>
        </ul>
      </div>
      <div class="cell large-3">
        <img src="http://placehold.it/150">
      </div>
    </div>
  </div>
</footer>