<div class="grid-container bg--primary">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-6 large-4">
      <h5>Our Office</h5>
      <img src="http://placehold.it/300" alt="">
      <p class="phone">651-455-1380</p>
      <p class="address">9 West 7th Place, Saint Paul, MN</p>
    </div>
    <div class="cell medium-6 large-4">
      <h5>Say Hello</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, libero animi. Sapiente nesciunt nemo assumenda a, voluptatibus ipsum unde consectetur labore sint et eius maiores deserunt, libero aperiam. Ducimus, delectus?</p>
      <p><a href="#">email@ourcompany.com</a></p>
    </div>
    <div class="cell medium-12 large-4">
      <h5>Subscribe Us</h5>
      <p>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook-official"></i></a>
        <a href="#"><i class="fa fa-rss "></i></a>
        <a href="#"><i class="fa fa-google-plus "></i></a>
        <a href="#"><i class="fa fa-twitter "></i></a>
        <a href="#"><i class="fa fa-pinterest-p "></i></a>
        <a href="#"><i class="fa fa-youtube-play "></i></a>
      </p>
      <div class="field">
        {{!--<label class="label">Name</label>--}}
        <div class="control">
          <input class="input" type="text" placeholder="Your Email" />
          <button class="button expanded is-primary hollow">Submit</button>          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <ul class="menu horizontal">
      <li><a href="#">Home</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">Page Layouts</a></li>
      <li><a href="#">Pages</a></li>
      <li><a href="#">Store</a></li>
    </ul>
    <p>Copyright All rights reserved.</p>
  </div>
</div>