<div class="grid-container">
  <div class="grid-x">
    <div class="cell text-center">
      <h2>Get Our Newsletter</h2>
      <p>Free Emailtips every month</p>
      <div class="simple-subscription-form">
        <form>
          <div class="input-group">
            <span class="input-group-label">
              <i class="fa fa-envelope"></i>
            </span>
            <input class="input-group-field" type="email" placeholder="YOUR EMAIL" required>
            <button class="button">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="grid-container">
  <div class="grid-x grid-margin-x align-justify">
    <div class="cell medium-4">
      <p class="">Copyright All rights reserved.</p>
    </div>
    <div class="cell medium-4">
      <ul class="menu horizontal no-style">
        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-rss"></i></a></li>
      </ul>
    </div>
  </div>
</div>