<footer class="footer--ms">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-3">
        <h3>About Us</h3>
        <ul class="no-bullet">
          <li>
            <a href="#">Frequently Asked Questions</a>
          </li>
          <li>
            <a href="#">News & Events</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
          <li>
            <a href="#">Media</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">Accreditation</a>
          </li>
          <li>
            <a href="#">Employment Opportunities</a>
          </li>
        </ul>
      </div>
      <div class="cell medium-3">
        <h3>Degrees & Programs</h3>
        <ul class="no-bullet">
          <li>
            <a href="#">Music Production</a>
          </li>
          <li>
            <a href="#">Music Business</a>
          </li>
          <li>
            <a href="#">Songwriting</a>
          </li>
          <li>
            <a href="#">Music Performance</a>
          </li>
          <li>
            <a href="#">Live Sound</a>
          </li>
          <li>
            <a href="#">Audio Engineering</a>
          </li>
          <li>
            <a href="#">Composition</a>
          </li>
          <li>
            <a href="#">View All</a>
          </li>
        </ul>
      </div>
      <div class="cell medium-3">
        <h3>Community</h3>
        <ul class="no-bullet">
          <li>
            <a href="#">Prospective Students</a>
          </li>
          <li>
            <a href="#">Admissions</a>
          </li>
          <li>
            <a href="#">Alumni</a>
          </li>
          <li>
            <a href="#">Parents</a>
          </li>
          <li>
            <a href="#">Faculty</a>
          </li>
          <li>
            <a href="#">Portal</a>
          </li>
        </ul>
      </div>
      <div class="cell medium-3">
        <h3>Connect with Us</h3>
        <ul class="no-bullet list-social-links">
          <li>
            <a href="https://www.facebook.com/StudiaMusique/" target="_blank">
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
          <li>
            <a href="http://www.twitter.com/wix" target="_blank">
              <i class="fa fa-twitter-square"></i>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCCUFlzDLGm_4XeMgWK7cSGQ" target="_blank">
              <i class="fa fa-youtube-square"></i>
            </a>
          </li>
        </ul>
        <p class="subscribe">Subscribe to our Newsletter</p>
      </div>
      <div class="cell medium-12">
        <p class="copy text-center">© 2017 Innovation Artist Laboratories. 609 10th St. S, Minneapolis, MN 55403 - 800.555.5555.</p>
      </div>
    </div>
  </div>
</footer>