<div class="grid-x grid-padding-x">
  <div class="cell medium-4">
    <img src="http://fillmurray.com/400/300" />
    <p class="lead">Students</p>
    <p>Students at McNally Smith College of Music explore a broad curriculum, pursuing a well-rounded education in all areas
      of music with a creative approach toward musical artistry and leadership.
      <a href="#">Learn more »</a>
    </p>
  </div>
  <div class="cell medium-4">
    <p class="lead">MAJORS & AREAS OF STUDY</p>
    <ul>
      <li>
        <a href="#">Music Production</a>
      </li>
      <li>
        <a href="#">Music Business</a>
      </li>
      <li>
        <a href="#">Songwriting</a>
      </li>
      <li>
        <a href="#">Music Performance</a>
      </li>
      <li>
        <a href="#">Live Sound</a>
      </li>
      <li>
        <a href="#">Audio Engineering</a>
      </li>
      <li>
        <a href="#">Composition</a>
      </li>
      <li>
        <a href="#">Bachelor of Arts in Music</a>
      </li>
      <li>
        <a href="#">Hip-Hop Studies</a>
      </li>
      <li>
        <a href="#">Ensembles</a>
      </li>
      <li>
        <a href="#">Liberal Arts</a>
      </li>
    </ul>
  </div>
  <div class="cell medium-4">
    <ul>
      <li>
        <a href="#">FACULTY</a>
      </li>
      <li>
        <a href="#">COURSE CATALOG</a>
      </li>
      <li>
        <a href="#">ACADEMIC CALENDARS</a>
      </li>
      <li>
        <a href="#">SUMMER WORKSHOPS</a>
      </li>
      <li>
        <a href="#">STUDY ABROAD</a>
      </li>
      <li>
        <a href="#">REGISTRAR</a>
        <ul>
          <li>
            <a href="#">Transcripts</a>
          </li>
          <li>
            <a href="#">Transfer Students</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">ARTICULATION AGREEMENTS</a>
        <ul>
          <li>
            <a href="#">International Partner Institutions</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>