<div class="reveal" id="loginModal" data-reveal>
  <h1>Client Login</h1>
  <form>
    <div class="grid-x">
      <label>
        <input type="text" placeholder="Username">
      </label>
    </div>
    <div class="grid-x">
      <label>
        <input type="password" placeholder="Password">
      </label>
    </div>
    <span class="float-left remember">Remember Me</span>
    <div class="switch">
      <input class="switch-input" id="rememberSwitch" type="checkbox" name="rememberSwitch">
      <label class="switch-paddle" for="rememberSwitch">
        <span class="show-for-sr">Remember Me?</span>
      </label>
    </div>
    <button class="button" type="submit">Login</button>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </form>
</div>