<div class="grid-container">
  <div class="grid-x">
    <div class="cell">
      <button class="button" data-open="reveal1">Click me for a modal</button>
    </div>
  </div>
</div>

<div class="reveal" id="reveal1" data-reveal>
  <h1>Awesome modal content here!</h1>
  <a data-open="reveal2">Click me to open a new modal</a>
</div>

<div class="reveal" id="reveal2" data-reveal>
  <h2>Another awesome, nested modal. Wow!</h2>
</div>

{{!-- When the user clicks to go to the next modal window Foundation will handle closing the first modal window for you --}}