<section class="section-c">
    <div class="grid-x">
      <div class="cell large-3">
        <i class="fa fa-shield" aria-hidden="true"></i>
        <h4>Secure</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="cell large-3">
        <i class="fa fa-flash" aria-hidden="true"></i>
        <h4>Fast</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="cell large-3">
        <i class="fa fa-gears" aria-hidden="true"></i>
        <h4>Stable</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="cell large-3">
        <i class="fa fa-user" aria-hidden="true"></i>
        <h4>Reliable</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </section>