<section class="section-a">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-6">
        <img src="http://placehold.it/900">
      </div>
      <div class="cell large-6">
          <h2>How Are We Different</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue tortor vel velit rutrum, et varius purus semper. Quisque sit amet lobortis magna. Ut eget viverra elit. Aenean eu congue ante, non eleifend justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
          <a class="button large hollow" href="about.html">Read More</a>
      </div>
    </div>
  </div>
</section>