<section class="showcase">
  <div class="grid-x">
    <div class="cell large-5 medium-5 large-offset-1 medium-offset-1">
      <div class="showcase-box">
        <h3>Fast, Secure, Realiable</h3>
        <p>Powerful shared hosting on enterprise hardware.</p>
        <div class="grid-x">
          <div class="cell large-6 medium-6">
            <ul>
              <li>
                <strong>Easy</strong> Control Panel</li>
              <li>
                <strong>1 Click</strong> Script Installs</li>
              <li>
                <strong>SSD</strong> Data Storage</li>
            </ul>
          </div>
          <div class="cell large-6 medium-6">
            <ul>
              <li>
                <strong>Unlimited</strong> Transfer</li>
              <li>
                <strong>24/7</strong> Tech Support</li>
              <li>
                <strong>99% Uptime</strong> Guarantee</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="showcase-box-bottom">
        <div class="grid-x">
          <div class="cell large-6 medium-6">
            Starting at
            <div class="pricing">
              <span>$9.99</span>/Month</div>
          </div>
          <div class="start-link cell large-6 medium-6">
            <h5>
              <a href="">
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Get Started Now</a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>