<section class="home-packages grid-x">
  <div class="cell large-12 medium-12">
    <h2 class="text-center">Hosting Packages For Everyone</h2>
    <p class="lead text-center">We have hosting packages for individuals and businesses of all types</p>
    <br>
    <ul class="tabs" data-tabs id="package-tabs">
      <li class="tabs-title is-active"><a href="#shared" aria-selected="true">Shared Hosting</a></li>
      <li class="tabs-title"><a href="#vps">Cloud VPS</a></li>
      <li class="tabs-title"><a href="#dedicated">Dedicated Servers</a></li>
    </ul>

    <div class="tabs-content" data-tabs-content="package-tabs">
      <div class="tabs-panel is-active" id="shared">
        <div class="grid-x">
          <div class="cell large-4 medium-4">
            <div class="callout p-box-1">
              <h3>Simple Shared</h3>
              <p>Great for small & simple sites</p>
              <i class="fa fa-database" aria-hidden="true"></i>
              <ul class="features menu vertical">
                <li>25GB SSD Storage</li>
                <li>100GB Data Transfer</li>
                <li>10 Email Accounts</li>
                <li>1 Domain Name</li>
              </ul>
              <div class="pricing"><span>$9.99</span>/Month</div>
              <a class="button large expanded" href="">GET IT NOW</a>
            </div>
          </div>
          <div class="cell large-4 medium-4">
            <div class="callout p-box-2">
              <h3>Standard Shared</h3>
              <p>Great for medium sized sites</p>
              <i class="fa fa-database" aria-hidden="true"></i>
              <ul class="features menu vertical">
                <li>100GB SSD Storage</li>
                <li>500GB Data Transfer</li>
                <li>50 Email Accounts</li>
                <li>5 Domain Names</li>
              </ul>
              <div class="pricing"><span>$19.99</span>/Month</div>
              <a class="button large expanded secondary" href="">GET IT NOW</a>
            </div>
          </div>
          <div class="cell large-4 medium-4">
            <div class="callout p-box-3">
              <h3>Super Shared</h3>
              <p>Great for enterprise sites & apps</p>
              <i class="fa fa-database" aria-hidden="true"></i>
              <ul class="features menu vertical">
                <li>500GB SSD Storage</li>
                <li>1TB Data Transfer</li>
                <li>Unlimited Email Accounts</li>
                <li>Unlimited Domain Names</li>
              </ul>
              <div class="pricing"><span>$29.99</span>/Month</div>
              <a class="button large expanded extra" href="">GET IT NOW</a>
            </div>
          </div>
        </div>
      </div>
      <div class="tabs-panel" id="vps">
        <div class="grid-x">
          <div class="cell large-4 medium-4">
            <div class="callout p-box-1">
              <h3>Simple VPS</h3>
              <p>Great for small & simple sites</p>
              <i class="fa fa-database" aria-hidden="true"></i>
              <ul class="features menu vertical">
                <li>25GB SSD Storage</li>
                <li>100GB Data Transfer</li>
                <li>10 Email Accounts</li>
                <li>1 Domain Name</li>
              </ul>
              <div class="pricing"><span>$29.99</span>/Month</div>
              <a class="button large expanded" href="">GET IT NOW</a>
            </div>
          </div>
          <div class="cell large-4 medium-4">
            <div class="callout p-box-2">
              <h3>Standard VPS</h3>
              <p>Great for medium sized sites</p>
              <i class="fa fa-database" aria-hidden="true"></i>
              <ul class="features menu vertical">
                <li>100GB SSD Storage</li>
                <li>500GB Data Transfer</li>
                <li>50 Email Accounts</li>
                <li>5 Domain Names</li>
              </ul>
              <div class="pricing"><span>$49.99</span>/Month</div>
              <a class="button large expanded secondary" href="">GET IT NOW</a>
            </div>
          </div>
          <div class="cell large-4 medium-4">
            <div class="callout p-box-3">
              <h3>Super VPS</h3>
              <p>Great for enterprise sites & apps</p>
              <i class="fa fa-database" aria-hidden="true"></i>
              <ul class="features menu vertical">
                <li>500GB SSD Storage</li>
                <li>1TB Data Transfer</li>
                <li>Unlimited Email Accounts</li>
                <li>Unlimited Domain Names</li>
              </ul>
              <div class="pricing"><span>$79.99</span>/Month</div>
              <a class="button large expanded extra" href="">GET IT NOW</a>
            </div>
          </div>
        </div>
      </div>
      <div class="tabs-panel" id="dedicated">
        <div class="grid-x">
          <div class="cell large-4 medium-4">
            <div class="callout p-box-1">
              <h3>Simple Dedicated</h3>
              <p>Great for small & simple sites</p>
              <i class="fa fa-database" aria-hidden="true"></i>
              <ul class="features menu vertical">
                <li>25GB SSD Storage</li>
                <li>100GB Data Transfer</li>
                <li>10 Email Accounts</li>
                <li>1 Domain Name</li>
              </ul>
              <div class="pricing"><span>$99.99</span>/Month</div>
              <a class="button large expanded" href="">GET IT NOW</a>
            </div>
          </div>
          <div class="cell large-4 medium-4">
            <div class="callout p-box-2">
              <h3>Standard Dedicated</h3>
              <p>Great for medium sized sites</p>
              <i class="fa fa-database" aria-hidden="true"></i>
              <ul class="features menu vertical">
                <li>100GB SSD Storage</li>
                <li>500GB Data Transfer</li>
                <li>50 Email Accounts</li>
                <li>5 Domain Names</li>
              </ul>
              <div class="pricing"><span>$129.99</span>/Month</div>
              <a class="button large expanded secondary" href="">GET IT NOW</a>
            </div>
          </div>
          <div class="cell large-4 medium-4">
            <div class="callout p-box-3">
              <h3>Super Dedicated</h3>
              <p>Great for enterprise sites & apps</p>
              <i class="fa fa-database" aria-hidden="true"></i>
              <ul class="features menu vertical">
                <li>500GB SSD Storage</li>
                <li>1TB Data Transfer</li>
                <li>Unlimited Email Accounts</li>
                <li>Unlimited Domain Names</li>
              </ul>
              <div class="pricing"><span>$199.99</span>/Month</div>
              <a class="button large expanded extra" href="">GET IT NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
