<section class="small-12 cell">
  <ul class="tabs" id="tabs--events" data-responsive-accordion-tabs="tabs medium-accordion ">
    <li class="tabs-title is-active">
      <a href="#panel1" class="lead">In-Studio Sessions</a>
    </li>
    <li class="tabs-title">
      <a href="#panel2" class="lead">Monthly Open Mic</a>
    </li>
    <li class="tabs-title">
      <a href="#panel3" class="lead">Workshops & Clinics</a>
    </li>
  </ul>
  <div class="tabs-content" data-tabs-content="tabs--events">
    <div class="tabs-panel is-active" id="panel1">
      <h4>What Are The In-Studio Sessions?</h4>
      <p>The In-Studio Workshop Sessions offer a donation based, hands-on learning workshop opportunity aimed toward all ages
        learners, intertested in taking their DSLR Video/Audio Recording skills to the next level. We feature 2-4 local artists
        each month</p>
    </div>
    <div class="tabs-panel" id="panel2">
      <h4>What Are They?</h4>
      <p>The In-Studio Workshop Sessions offer a donation based, hands-on learning workshop opportunity aimed toward all ages
        learners, intertested in taking their DSLR Video/Audio Recording skills to the next level. We feature 2-4 local artists
        each month</p>
    </div>
    <div class="tabs-panel" id="panel3">
      <h4>Time Class!</h4>
      <p>The In-Studio Workshop Sessions offer a donation based, hands-on learning workshop opportunity aimed toward all ages
        learners, intertested in taking their DSLR Video/Audio Recording skills to the next level. We feature 2-4 local artists
        each month</p>
    </div>
  </div>
</section>