<section class="small-12 cell">
    <ul class="tabs" id="tabs--home" data-responsive-accordion-tabs="tabs medium-accordion large-tabs">
        <li class="tabs-title is-active"><a href="#panel1">LEARN.CREATE.RECORD.</a></li>
        <li class="tabs-title"><a href="#panel2">FILM PHOTOGRAPHY MUSIC</a></li>
        <li class="tabs-title"><a href="#panel3">TOGETHER MSP</a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="tabs--home">
        <div class="tabs-panel is-active" id="panel1">
        <h2 class="text-center">Hello! 1</h2>
        </div>
        <div class="tabs-panel" id="panel2">
        <h2>Hello! 2</h2>
        </div>
        <div class="tabs-panel" id="panel3">
        <h2>Hello! 3</h2>
        </div>
    </div>
</section>