<p><a data-toggle="toggle-panel">Toggle Panel</a></p>

<div class="callout" id="toggle-panel" data-toggler data-animate="hinge-in-from-top spin-out">
  <h1>Content!</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima perspiciatis veritatis iure culpa maiores quam. Odio explicabo non recusandae nulla vero modi quod laborum. Nesciunt culpa eius dicta molestias reiciendis?</p>
</div>

{{!-- 
  Other Motion-UI animations:
  - hinge-in-from-[top/right/bottom/left]
  - hinge-out-from-[top/right/bottom/left]
  - slide-in-[down/left/up/right]
  - slide-out-[down/left/up/right]
  - scale-in-[up/down]
  - scale-out-[up/down]
  - spin-in[-ccw]
  - spin-out[-ccw]
  - fade-in
  - fade-out
  --}}